.content1 {
    display: flex;
    flex-direction: row;
    background-color: #013A63;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 5px;
}
.content1-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.text-header {
    font-family: garamond;
    font-weight: bold;
    font-size: 30px;
    color: white;
}
.text-body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
}
.content1-image {
    width: 450px;
    height: 300px;
}